<html>
    <body>
        <p>
            <% if(rating!=null){ %> 
                The average rating of <%= restaurantname %> is <%= rating %> over full marks of 10. 
            <% }else{ %>
                No rating records found for <%= restaurantname %>.
            <% } %>  
        </p>
        <% if(!rated){ %> 
            Rate for <%= restaurantname %>: 
            <form action="/rate" method="POST">
                1
                <input type="radio" name="rate" id="m1" value=1 checked=true> 
                <input type="radio" name="rate" id="m2" value=2>
                <input type="radio" name="rate" id="m3" value=3>
                <input type="radio" name="rate" id="m4" value=4>
                <input type="radio" name="rate" id="m5" value=5>
                <input type="radio" name="rate" id="m6" value=6>
                <input type="radio" name="rate" id="m7" value=7>
                <input type="radio" name="rate" id="m8" value=8>
                <input type="radio" name="rate" id="m9" value=9>
                <input type="radio" name="rate" id="m10" value=10>
                10
                <button type="submit">RATE!</button>
            </form>
        <% }else{ %>
            You have rated for <%= restaurantname %>.
        <% } %>   
        <p><a href="/">home</a></p>
    </body>
</html>