<html>
    <body>
        <form action="/update" method="POST">
            Restaurant name: <input name="RName" value=<%=  %>> <br>
            Borough: <input name="cuisine" value=<%=  %>> <br>
            <form action="/upload" method="POST">
                upload photo: <button value="upload" type="submit">UPLOAD</button>
            </form><br>
            Address:<br>
            Street: <input name="AddressStreet" value=<%=  %>> <br>
            Building: <input name="AddressBuilding" value=<%=  %>> <br>
            Zipcode: <input name="AddressZipcode" value=<%=  %>><br>
            Coordinate: <input name="AddressCoor" value=<%=  %>><br> 
        </form>
        <p><a href="/">home</a></p>
    </body>
</html>